h1 {
    color: #F79AC0 ;
}
body {
    background-color: #FFDBE9;
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif;
}
h2 {
  color: #F699CD
}

p {
  font-family: "Courier New", Courier, monospace
}
